<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-feature android:name="android.hardware.camera.any" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <application>
    <activity android:name="com.microblink.activity.DocumentScanActivity" android:noHistory="true" />
    <activity android:name="com.microblink.activity.DocumentVerificationActivity" android:noHistory="true" />
    <activity android:name="com.microblink.activity.BlinkIdActivity" android:noHistory="true" />
  </application>
</manifest>
